{% extends "pizzas/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h3>
	<a href="{% url 'pizza' pizza.id %}">{{ pizza }}</a>
  </h3> 
  <h3>Edit Pizza:</h3>
{% endblock header %}

{% block content %}
    
  <form action="{% url 'edit_topping' topping.id %}" method='post'
      class="form">
      
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% buttons %}
      <button name="submit" class="btn btn-primary">Add Pizza</button>
    {% endbuttons %}
    
  </form>
    
{% endblock content %}
