{% extends "pizzas/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new pizza:</h2>
{% endblock header %}

{% block content %}
    
  <form action="{% url 'new_pizza' %}" method='post'
      class="form">
      
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="checkbox">
      <label>
        <input type="checkbox" value="1" name="check_public">Public
      </label>
    </div>
    {% buttons %}
      <button name="submit" class="btn btn-primary">Add Pizza</button>
    {% endbuttons %}

  </form>
    
{% endblock content %}
