{% extends 'pizzas/base.html' %}

{% block header %}
  <h2>{{ pizza }}</h2>
{% endblock header %}

{% block content %}
  <p>
    <a href="{% url 'new_topping' pizza.id %}">Add new topping</a>
  </p>

  {% for topping in toppings %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <small>
            <a href="{% url 'edit_topping' topping.id %}">Edit</a>
            <a href="{% url 'del_topping' topping.id %}">Delete</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ topping }}
      </div>
    </div> <!-- panel -->
  {% empty %}
    There are no toppings for this pizza yet.
  {% endfor %}

{% endblock content %}
